<footer id="pie-pagina" class="footer">
    <div class="footerSecciones">
        <div>
            <h4 class="footerTitulo">Nuestro Sitio</h4>
            <ul class="footerMenu">
                <li><a>Derechos Reservados</a></li>
                <li><a>{{nombre}}</a></li>
                <li><a>{{titulo}}</a></li>
                <li><a href="https://www.incluyeme.com.ar/">Incluyeme.com.ar</a></li>
            </ul>
        </div>

        <div class="footerComunidad">
            <h4 class="footerTitulo">Comunidad</h4>
            <ul class="footerMenu">
                <li><a href="facebook.com"><i class="icon-fb fab fa-facebook-square"></i></a></li>
                <li><a href="instagram.com"><i class="icon-ins fab fa-instagram"></i></a></li>
                <li><a href="pinterest.com"><i class="icon-pint fab fa-pinterest"></i></a></li>
                <li><a href="messenger.com"><i class="icon-mess fab fa-facebook-messenger"></i></a></li>
            </ul>
        </div>
    </div>

    
</footer>