<header class="banner">
   <div class="d-grid gap-2 d-md-flex justify-content-md-beggining">

      <button type="button" class="btn btn-secondary btn-sm" value="Página anterior" 
      onClick="history.go(-1);">Volver</button>

   </div>
</header>