<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/contacto.css">
</head>

<body>

     <!-- HEADER......-->
    {{> header }}

    <!-- FORMULARIO......-->
    <section class="contenedorFlex">
        <div class="contenido">
            <section class="container">
                <div class="formulario">
                    <h3> Su mensaje ha sido enviado</h3>

                    <h4>¡Muchas gracias!</h4>
                </div>

                <section class="container">
                    <div class="foto">
                        <img src="./assets/img/portada2.jpg" class="rounded-circle w-50 h-100" alt="bestSellers">
                    </div>
                </section>
            </section>
        </div>

    </section>

    <!-- FOOTER......-->
    {{> footer }}

    <!-- SCRIPTS......-->

    <script src="./js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="./js/jquery-3.3.1.js"></script>

</body>

</html>