<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/registro.css">
</head>

<body>
    <!-- HEADER......-->
    {{> header }}

    <!-- Contenido......-->
    <div class="contenedor">
        <h1 class="titulo">DONDE ESTAMOS</h1>
        <P class="parrafo">
            Un clásico para todos… Librería El Mundo del Lector se encuentra con sus puertas abiertas desde el año 1999.
            En los primeros años la librería se encontraba ubicada en Tucumán y San Martin. A partir de 2021 es ubicada
            en
            distintos Barrio Natania 19(como casa central) al Norte de la ciudad de Córdoba Capital.
            Librería El Mundo del Lector es una empresa familiar argentina. Hoy se encuentra dirigida por su primera
            generación que
            trabaja con absoluta dedicación en acercar a sus clientes los mejores productos acompañados de la
            mejor atención.
        </P>
        <div>
            <iframe class="mapa" allowfullscreen="" aria-hidden="false" frameborder="0"
                src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d13624.373670988454!2d-64.27903337833689!3d-31.38398758419872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e0!4m5!1s0x94329ee13687fe7f%3A0x60bf9ca8183c8c14!2sManzana%206%2C%20C%C3%B3rdoba%2C%20Argentina!3m2!1d-31.384006199999998!2d-64.2702786!4m3!3m2!1d-31.3837858!2d-64.2704503!5e0!3m2!1ses!2sar!4v1639263090527!5m2!1ses!2sar">
                </iframe>
        </div>
        <h3 class="titulo">CONTACTANOS</h3>
        <div class="datos">
            <p>4817337 // 4817334 Whatsapp 351 2839615</p>
            <p>info@elmundodellector.com.ar</p>
            <p>Natania 19, Manzana 6 Casa 6, Córdoba Capital</p>
        </div>
    </div>



    <!-- FOOTER......-->
    {{> footer }}
    <!-- SCRIPTS......-->
    <!--<script src="/assets/js/jquery-3.3.1.js"></script>-->

    <script src="./js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="./assets/js/contacto.js"></script>
</body>

</html>