nav{
    padding: 1.5rem;
    }
     
.banner{
   /* background-image: url(./img/libreria.PNG);*/
   background-color: rgb(66, 66, 114);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 10vh;}
    
.container{
    display: contents;
}
/* FOOTER*/ 
.footer{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 2rem;
    font-family: 'Open Sans', sans-serif;
}
.footerSecciones{
    display: flex;
    justify-content: space-around;
}

.footerTitulo{
    font-size: medium;
    padding: 1rem;
    padding-bottom: 0rem;
}

.footerMenu{
    list-style: none;
    padding: 1rem;
    text-decoration: none;}
.footerMenu a{
    text-decoration: none;
    color: white;
     font-size: 0.8rem;
}

.footerComunidad ul{
display: inline-block;
}
.icon-fb{
    font-size: 1.5rem;
    color: rgb(141, 141, 233);
}
.icon-ins{
    font-size: 1.5rem;
    color: rgb(224, 133, 28);
}
.icon-pint{
    font-size: 1.5rem;
    color: rgb(177, 15, 15);
}
.icon-mess{
    font-size: 1.5rem;
    color: rgb(21, 32, 182);
}

