* {
    Margin:0;
    padding:0;
 }

 /* Header*/
.banner{

    background-image: url(./img/contacto.jpg);
    background-size: cover;
    height: 20vh;    
}
.boton{
    text-align: left;
    padding: 3rem;
}

.headerEnlace{
    font-weight: 600; }

.menuSuperior{
    list-style: none;
    text-align: center;}

.menuSuperior li{
    display: inline-block;}

.menuSuperior a{
    text-decoration: none;
    background-color: burlywood;
    color: chocolate;
    text-transform: uppercase;
    padding: 0.7rem;
    font-size: 15px;}
.menuSuperior a:hover{
    background-color: darkgreen;
    color: rgb(101, 126, 31);
}
.titulo{
    text-align: center;
    color: rgb(180, 7, 7);
    font-size: 3rem;
} 

/*....... contenido*/

.contenedorFlex{
display: flex;

}
.contenido{ 
    background-color: rgb(135, 135, 170);
    padding: 2rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: justify;
    width: 70%;
}
.imagen{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.imagen img{
    width: 20%;
    padding: 1rem;
}
.bordesRedondeados{
    border-radius: 30px;
    
}
.variedades{
    background-color: rgb(66, 66, 114);
    padding: 2rem;
    width: 30%;
    line-height: 1.8rem;
}

.fuente{
    text-align: right;
}
/*... segunda seccion... */

.contenedorFlex2{
display: flex;
}
.contenido2{ 
    background-color: rgb(135, 135, 170);
    padding: 2rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: justify;
    width: 70%;
}
.registrarse{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    
}
.variedades{
    background-color: rgb(66, 66, 114);
    padding: 2rem;
    width: 30%;
}

/*.....Footer....*/
.footer{
    background-color: black;
    color: white;
    padding: 2rem;
    font-family: 'Open Sans', sans-serif;
}
.footerSecciones{
    display: flex;
    justify-content: space-around;
}

.footerTitulo{
    font-size: medium;
    padding: 1rem;
    padding-bottom: 0rem;
}

.footerMenu{
    list-style: none;
    padding: 1rem;
    text-decoration: none;}
.footerMenu a{
    text-decoration: none;
    color: white;
     font-size: 0.8rem;
}
.irArriba{
    display: block;
    color:darkcyan;
    text-align: end;
    font-weight: 650;
}
.footerComunidad ul{
display: inline-block;
}
.icon-fb{
    font-size: 1.5rem;
    color: rgb(141, 141, 233);
}
.icon-ins{
    font-size: 1.5rem;
    color: rgb(224, 133, 28);
}
.icon-pint{
    font-size: 1.5rem;
    color: rgb(177, 15, 15);
}
.icon-mess{
    font-size: 1.5rem;
    color: rgb(21, 32, 182);
}
